# Code to Clean Messy Exam Data

This python code cleans the messy exam data file and retruns a tidy data set to Excel for analysis.

In [51]:
# Import required packages
import pandas as pd

# Read in messy_data example
messy_data = pd.read_excel('Messy Data Example - Collated Exam Results.xlsx')

       Person         English         Geography     Mathematics
0  PERSON-001  82/100 (82.0%)    93/130 (71.5%)  77/120 (64.2%)
1  PERSON-002  96/100 (96.0%)    85/130 (65.4%)  93/120 (77.5%)
2  PERSON-003  95/100 (95.0%)    83/130 (63.8%)  88/120 (73.3%)
3  PERSON-004  36/100 (36.0%)  130/130 (100.0%)  88/120 (73.3%)
4  PERSON-005  59/100 (59.0%)    81/130 (62.3%)  81/120 (67.5%)

In [52]:
# Melt subjects (in columns) in to a single column
messy_data = pd.melt(messy_data, id_vars=['Person'], var_name='Subject')

# Output head of data to screen
messy_data.head()

       Person  Subject           value
0  PERSON-001  English  82/100 (82.0%)
1  PERSON-002  English  96/100 (96.0%)
2  PERSON-003  English  95/100 (95.0%)
3  PERSON-004  English  36/100 (36.0%)
4  PERSON-005  English  59/100 (59.0%)

In [53]:
# Manipulate text string to remove all unwanted characters and implement common value delimiter '/'
messy_data['value'] = messy_data['value'].str.replace('\(|\)','',regex=True)
messy_data['value'] = messy_data['value'].str.replace('%','')
messy_data['value'] = messy_data['value'].str.replace(' ','/')

# Split columns based on delimiter and assign to new variables in messy_data
messy_data[['Score','Total Marks Available','% Performance']] = messy_data['value'].str.split('/',expand=True)

# Drop value column form data frame
messy_data.drop(['value'],axis = 1)

In [55]:
# Export clean data to Excel
messy_data.to_excel('Clean Data Example - Collated Exam Results.xlsx')